* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(245, 248, 243);
    min-width: 590px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 20;
    position: fixed;
    width: 100%;
    background-color: rgb(71, 171, 145);
    height: 42px;
}

p {
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 100px 0 0 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

footer {
    background-color: rgb(71, 171, 145);
    height: 100px;
    text-align: center;
}

li {
    list-style-image: url(/img/dot.png);
}

.topnav {
 
    overflow: hidden;
}

.topnav a {
    float: right;
    color: rgb(245, 248, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(245, 212, 142);
    color: grey;
    border-radius: 0 0 20% 20%
}

.topnav a.active {
    background-color: rgb(192,41,50);
    color: white;
    border-radius: 0 0 20% 20%
}

.logo {
    width: auto;
    height: 100px;
    z-index: 1000;
    position: absolute;
    border-radius: 0 0 10% 0;
}

.avatarbox {
    text-align: center;

}

.roundbox {
    border-radius: 25%;
}

.avatar {
    max-width: 50%;
    border-radius: 10%;
 
}

.avatarfoot {
    text-align: center;
}

.bh {
    max-width: 100%;
    width: auto;
    line-height: 0;
}

.box {
    text-align: center;
}

.parentbox {
    flex-grow: 1;
    margin: 0px auto;
    position: relative;
    width: auto;
    display: flex;
    max-width: 50%;
    justify-content: center;
}

.childbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: justify;
    margin-top: 0px;
    padding: 10%;
    background-color: rgb(71, 171, 145);
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    
    border-radius: 0 0 20px 20px;
}

.nicepadding {
    padding: auto;
    border-radius: 10px;

}

.frame {
    border-radius: 10%;
    display:block;
    padding: 100px;
}

.column {
    flex: 33.33%;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    border: 3px solid rgb(71, 171, 145);
  }

  .container {
      display: flex;
      margin: auto;
  }

  .contact {
      width: 50px;
      height: 50px;
  }

  .profimg {
      width: 20%
  }

  .textcontainer {
      text-align: center;
      max-width: 70%;
  }

  /* MESSAGE FORMS

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }