.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: rgb(255,174,0);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(255,174,0);
    color: white;
}

header {
    text-align: center;
}

body {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

footer {
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 0px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 50px;
    background: rgb(255,174,0);
    margin: 0px 0px 0px 0px;
}

.icon {
    height: 40px;
    width: 40px;
    padding: 0px 10px 10px 10px;
    
}